<!DOCTYPE html>
<html>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

<head>
    <title>{{ _('Student List') }}</title>
</head>
<body>
    {% include 'menu.html' %}
    <div class="table-container">
        <table class="data-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>{{ _('Name') }}</th>
                    <th>{{ _('Surname') }}</th>
                    <th>{{ _('Class') }}</th>
                    <th>{{ _('Note') }}</th>
                    <th>{{ _('Actions') }}</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                    <td>{{ student.id }}</td>
                    <td>{{ student.name }}</td>
                    <td>{{ student.surname }}</td>
                    <td>{{ student.nameclass }}</td>
                    <td><span class="grade-badge">{{ student.note }}</span></td>
                    <td class="actions-cell">
                        <a href="/edit_student/{{ student.id }}" class="btn-edit" title="{{ _('Edit Student') }}">
                            ✏️
                        </a>
                        <a href="/delete_student/{{ student.id }}" class="btn-delete" title="{{ _('Delete Student') }}" 
                           onclick="return confirm('{{ _('Are you sure you want to delete %(name)s %(surname)s?', name=student.name, surname=student.surname) }}')">
                            🗑️
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
